/**
 * prism.js eno light theme
 * Based on One Light (https://github.com/atom/atom/tree/master/packages/one-light-syntax)
 */

code[class*="language-"],
pre[class*="language-"] {
		color: #383a42;
		background: none;
		font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
		font-size: 1em;
		text-align: left;
		white-space: pre;
		word-spacing: normal;
		word-break: normal;
		word-wrap: normal;
		line-height: 1.5;

		-moz-tab-size: 4;
		-o-tab-size: 4;
		tab-size: 4;

		-webkit-hyphens: none;
		-moz-hyphens: none;
		-ms-hyphens: none;
		hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection { background: #e4e4e5; }

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection { background: #e4e4e5; }

/* Code blocks */
pre[class*="language-"] {
		padding: 1em;
		margin: .5em 0;
		overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] { background: #fafafa; }

/* Inline code */
:not(pre) > code[class*="language-"] {
		padding: .1em;
		border-radius: .3em;
		white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata,
.token.punctuation { color: #a0a1a7; }

.token.namespace { opacity: .7; }

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted { color: #e45649; }

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted { color: #50a14f; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string { color: #0184bc; }

.token.atrule,
.token.attr-value,
.token.keyword { color: #a626a4; }

.token.function,
.token.class-name,
.language-eno .token.attribute-key { color: #4078f2; }

.token.regex,
.token.important,
.token.variable { color: #986801; }

.token.important,
.token.bold { font-weight: bold; }
.token.italic { font-style: italic; }

.token.entity { cursor: help; }

.language-eno .token.invalid {
		background-color: #ff1414;
		color: #fff;
}
