/**
 * prism.js eno dark theme
 * Based on One Dark (https://github.com/atom/atom/tree/master/packages/one-dark-syntax)
 */

code[class*="language-"],
pre[class*="language-"] {
		color: #abb2bf;
		background: none;
		font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
		font-size: 1em;
		text-align: left;
		white-space: pre;
		word-spacing: normal;
		word-break: normal;
		word-wrap: normal;
		line-height: 1.5;

		-moz-tab-size: 4;
		-o-tab-size: 4;
		tab-size: 4;

		-webkit-hyphens: none;
		-moz-hyphens: none;
		-ms-hyphens: none;
		hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection { background: #414651; }

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection { background: #414651; }

/* Code blocks */
pre[class*="language-"] {
		padding: 1em;
		margin: .5em 0;
		overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] { background: #282c34; }

/* Inline code */
:not(pre) > code[class*="language-"] {
		padding: .1em;
		border-radius: .3em;
		white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata,
.token.punctuation { color: #5c6370; }

.token.namespace { opacity: .7; }

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted { color: #e06c75; }

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted { color: #98c379; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string { color: #56b6c2; }

.token.atrule,
.token.attr-value,
.token.keyword { color: #c678dd; }

.token.function,
.token.class-name,
.language-eno .token.attribute-key { color: #61afef; }

.token.regex,
.token.important,
.token.variable { color: #d19a66; }

.token.important,
.token.bold { font-weight: bold; }
.token.italic { font-style: italic; }

.token.entity { cursor: help; }

.language-eno .token.invalid {
		background-color: #e05252;
		color: #fff;
}
